/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
 /* h1 {
  margin: 0;
  font-family: 'Freestyle Script' , sans-serif;
  color: #fff;
} */
#app {
  margin: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
}